#game .modal {
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: radial-gradient(
		circle,
		rgba(255, 0, 255, .8) 0%,
		rgba(150, 0, 150, .8) 100%
	);
}
#game .modal .buttons {
	margin: 2rem 0 3rem 0;
}

#game .modal h1, #game .modal h2 {
	margin: 0;
	color: white;
	-webkit-text-stroke: 2px black;
}
