#scores {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	width: calc(var(--cell-x-count) * var(--cell-size) + 10px);
}
#scores .score {
	background: black;
	color: rgba(255, 255, 255, .75);
	padding: 3px 10px;
}
#scores .score b {
	color: white;
	font-weight: bold;
	font-size: 1.1em;
}
#scores .speed button {
	padding: 0;
	border: 0;
	font-size: .8em;
	line-height: 1;
	background: transparent;
}
#scores .speed button.active,
#scores .speed button:focus,
#scores .speed button:hover {
	box-shadow: none;
	background: white;
}
#scores .speed button[disabled] {
	opacity: .7;
	cursor: not-allowed;
}

#scores button.sound {
	padding: 0;
	border: 0;
	margin: 0;
	line-height: 1;
	font-size: 1rem;
	background: transparent;
}
#scores button.sound:hover,
#scores button.sound:focus,
#scores button.sound:active {
	box-shadow: none;
	background: white;
}
#scores div.sound {
	text-align: right;
	padding-right: 10px;
}
#scores .spacer {
	flex: 1;
}
